{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-4 py-4 mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Quote Information -->
            <div class="bg-white p-4 rounded-lg shadow-lg transition duration-300 hover:shadow-xl">
                <h2 class="text-xl font-bold text-gray-800 mb-2">Lead Information</h2>
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <span class="text-gray-500">Assigned To:</span>
                        <span class="text-gray-800">{{ request.user.username }}</span>
                    </div>
                    <div>
                        <span class="text-gray-500">Origin:</span>
                        <span class="text-gray-800">{{ lead.origin_city }}, {{ lead.origin_state }} {{ lead.origin_zip }}</span>
                      
                    </div>
                    <div>
                        <span class="text-gray-500">Shipper:</span>
                        <span class="text-gray-800">{{ lead.first_name }} {{ lead.last_name }}</span>
                    </div>
                    <div>
                        <span class="text-gray-500">Destination:</span>
                        <span class="text-gray-800">{{ lead.destination_city }}, {{ lead.destination_state }} {{ lead.destination_zip }}</span>
                    </div>
                    <div>
                        <span class="text-gray-500">Phone:</span>
                        <span class="text-gray-800">{{ lead.phone_number }}</span>
                    </div>
                    <div>
                        <span class="text-gray-500">Vehicle:</span>
                    <span class="text-gray-800">{{ lead.vehicle_year }} {{ lead.vehicle_make }} {{ lead.vehicle_model }}</span>
                    </div>
                </div>
                <div class="mt-2">
                    <span class="text-gray-500">Email:</span>
                        <span class="text-gray-800">{{ lead.email }}</span>
                </div>
            </div>

            <!-- Dates -->
            <div class="bg-white p-4 rounded-lg shadow-lg transition duration-300 hover:shadow-xl">
                <h2 class="text-xl font-bold text-gray-800 mb-2">Dates</h2>
                <div class="flex justify-between">
                    <span class="text-gray-500">Estimated Ship Date:</span>
                    <span class="text-gray-800">{{ lead.estimated_ship_date }}</span>
                </div>
            </div>

            <!-- Pricing Information -->
            <div class="bg-white p-4 rounded-lg shadow-lg transition duration-300 hover:shadow-xl">
                <h2 class="text-xl font-bold text-gray-800 mb-2">Pricing Information</h2>
                <div class="flex justify-between">
                    <div>
                        <span class="text-gray-500">Total Tariff:</span>
                        <span class="text-gray-800">${{ lead.total_tariff }}</span>
                    </div>
                    <div>
                        <span class="text-gray-500">Deposit:</span>
                        <span class="text-gray-800">${{ lead.deposit }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
