{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<section class="bg-gray-100 text-gray-700 body-font overflow-hidden">
    <div class="container px-6 py-8 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap bg-white shadow-lg rounded-lg">
            <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 p-6">
                <h2 class="text-sm title-font text-gray-500 tracking-widest uppercase">Lead Details</h2>
                <h1 class="text-gray-900 text-4xl title-font font-semibold mb-4">{{ lead.first_name }} {{ lead.last_name }}</h1>

                <div class="flex mb-4 space-x-4">
                    <a href="{% url 'leads:lead-detail' lead.pk %}" class="flex-grow text-center text-gray-700 py-2 px-4 rounded hover:bg-gray-200 transition duration-300">
                        Overview
                    </a>
                    <a href="{% url 'leads:lead-category-update' lead.pk %}" class="flex-grow text-center text-gray-700 py-2 px-4 rounded hover:bg-gray-200 transition duration-300">
                        Category
                    </a>
                    <a href="{% url 'leads:lead-update' lead.pk %}" class="flex-grow text-center text-indigo-500 border-b-2 border-indigo-500 py-2 px-4 rounded transition duration-300">
                        Update Details
                    </a>
                </div>

                <form method="post" enctype="multipart/form-data" class="mb-4">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-6 py-3 rounded-md transition duration-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">Submit</button>
                </form>

                <div class="mt-5 py-5 border-t border-gray-200">
                    <a href="{% url 'leads:lead-delete' lead.pk %}" class="w-full text-white bg-red-500 border-0 py-3 px-6 focus:outline-none hover:bg-red-600 rounded transition duration-300">
                        Delete Lead
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
